<section class="banner__container">
    <div class="banner__content">
        <div class="section__badge">Portabilidad</div>
        <h2 class="section__title">Diseñado para la realidad del quirófano</h2>
        <p class="section__description">
            Su diseño optimizado para dispositivos móviles, permite a los anestesiólogos acceder y registrar información de manera fluida, en cualquier momento y lugar.</p>
        <img src="./assets/img/nv_mobile.png" alt="" class="banner__img">
    </div>
</section>