<footer class="container-flex">
    <img src="./assets/img/nv_logo-w.png" alt="" width="75" height="66">
    <header class="section__header">
        <h2 class="section__title">Contacto</h2>
            <p class="section__description">
                Para programar una demo o realizar consultas puede contactarnos a <a class="btn__tertiary" href="mailto:nivo@cares.ar">nivo@cares.ar</a>
            </p>
        <div class="btn__container">
        </div>
    </header>
    <script type="text/javascript" src="./assets/js/splash.js" defer></script>
    <script type="text/javascript" src="./assets/js/header.js" defer></script>
    <script type="text/javascript" src="./assets/js/carousel.js" defer></script>
    <script type="text/javascript" src="./assets/js/slider.js" defer></script>
    <script type="text/javascript" src="./assets/js/modal.js" defer></script>
</footer>
<div class="footer--disclaimer">
    <p><b>© 2025 NIVO+ es una marca registrada.</b> Todos los derechos reservados.</p>
    <nav>
        <a id="openModal">Términos y condiciones</a>
        <a id="openPrivacy">Política de privacidad</a>
    </nav>
</div>