<!-- Navigation -->
    <nav class="navbar">
        <img src="./assets/img/nv_logo-h.png" alt="Logo" width="160">
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#inicio" class="nav-link dropdown-arrow">Inicio</a>
            </li>
            <li class="nav-item">
                <a href="#desafio" class="nav-link dropdown-arrow">El desafío</a>
            </li>
            <li class="nav-item">
                <a href="#portabilidad" class="nav-link dropdown-arrow">Enfoque</a>
            </li>
            <li class="nav-item">
                <a href="#solucion" class="nav-link dropdown-arrow">Nuestra solución</a>
            </li>
            <li class="nav-item">
                <a href="#testimoniales" class="nav-link dropdown-arrow">Testimoniales</a>
            </li>
            <!-- <li class="nav-item">
                <a href="#planes" class="nav-link dropdown-arrow">Planes</a>
            </li> -->
            <li class="nav-item">
                <a href="#contacto" class="btn__secondary--outline">Contacto</a>
            </li>
        </ul>
        <button class="menu-toggle" id="menuToggle">☰</button>
    </nav>

    <!-- Mobile Navigation Overlay -->
    <div class="mobile-nav-overlay" id="mobileNavOverlay">
        <div class="mobile-nav-panel">
            <ul class="mobile-nav-menu">
                <li class="nav-item">
                    <a href="#inicio" class="nav-link dropdown-arrow">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="#desafio" class="nav-link dropdown-arrow">El desafío</a>
                </li>
                <li class="nav-item">
                    <a href="#portabilidad" class="nav-link dropdown-arrow">Enfoque</a>
                </li>
                <li class="nav-item">
                    <a href="#solucion" class="nav-link dropdown-arrow">Nuestra solución</a>
                </li>
                <li class="nav-item">
                    <a href="#testimoniales" class="nav-link dropdown-arrow">Testimoniales</a>
                </li>
                <!-- <li class="nav-item">
                    <a href="#planes" class="nav-link dropdown-arrow">Planes</a>
                </li> -->
                <li class="nav-item">
                    <a href="#contacto" class="btn__secondary--outline">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
