<section class="hero">
    <span class="hero__overlay"></span>
    <div class="hero__container">
        <h1 class="hero__title">Registro anestesiológico digital completo</h1>
        <p class="hero__description">
            NIVO+ es el complemento ideal para Historias Clínicas Electrónicas, diseñado específicamente para las necesidades únicas de los anestesiólogos.
        </p>
        <div class="btn__container">
            <a href="#" class="btn__primary">Prueba Gratuita</a>
            <a href="#" class="btn__secondary">Programar Demo</a>
        </div>
        <div class="hero__note">
            No se requiere tarjeta de crédito
        </div>
    </div>
</section>
