<div class="modal__content">
<header class="modal__header">
    <h2 class="modal__title">Términos y condiciones</h2>
    <button size="md" class="btn__primary--outline" id="closeModal">&times;</button>
</header>
<div class="modal__body">
    <p>Al utilizar NIVO+, el software desarrollado por Anes Record Solutions S.A., ya sea a través de su sitio web, aplicaciones móviles u otros servicios asociados, usted acepta los términos y condiciones. El acceso continuo o el uso del sistema se considerará como aceptación plena de este descargo de responsabilidad. Si no está de acuerdo con alguno de estos términos, le solicitamos que no utilice los servicios ofrecidos por Anes Record Solutions S.A.</p>
</div>
</div>
