<div class="modal__content">
    <header class="modal__header">
        <h1 class="modal__title">Política de privacidad de datos personales</h1>
        <button size="md" class="btn__primary--outline" id="closePrivacy">&times;</button>
    </header>
    <div class="modal__body">
    
    <h3>OBJETO</h3>
    <p>El objeto de esta Política de Privacidad es informar a los Usuarios la forma en que <strong>NIVO+ Anesthesic Digital System</strong>, en adelante <i>"NIVO+"</i>, de titularidad exclusiva de <strong>Anes Record Solutions S.A.</strong>, en adelante <i>"Anes Record Solutions"</i>, lleva a cabo el tratamiento de los datos personales de los Usuarios, en adelante, el <i>"Usuario"</i>, que se registran en NIVO+. Por favor, lea esta Política de Privacidad cuidadosamente a fin de entender exactamente las prácticas en relación con los datos personales de los Usuarios. Si Ud. tiene dudas sobre cualquier aspecto de esta Política de Privacidad, por favor contacte a <a class="btn__tertiary" href="mailto:nivo@cares.ar">nivo@cares.ar</a>.</p>
    
    <p>Asimismo, recuerde que la aceptación de esta Política de Privacidad implica la aceptación de los Términos y Condiciones de Uso de NIVO+.</p>

    <h3>INFORMACIÓN PARA EL USUARIO TITULAR DE LOS DATOS</h3>
    <p>El Usuario tendrá la posibilidad de proporcionar algunos de sus datos personales y/o datos personales de terceros a través de los canales disponibles en ciertas áreas de NIVO+.</p>
    
    <p><strong>Anes Record Solutions</strong>, con domicilio en <strong>Presbítero Brentana 35 Piso:7 Dpto:B, Ciudad de Cipolletti, Río Negro</strong>, es el titular de la Base de Datos a las que se incorporarán los datos personales que se recolectan mediante NIVO+, en adelante el <i>"Titular de la Base de Datos"</i>.</p>
    
    <p>La Base de Datos ha sido debidamente registrada ante el <strong>Registro Nacional de Bases de Datos Personales de la Agencia de Acceso a la Información Pública</strong>.</p>

    <h3>TIPO DE DATOS COMPRENDIDOS EN ESTA POLÍTICA DE PRIVACIDAD</h3>
    <p>Esta Política de Privacidad abarca los datos personales de los Usuarios que el Titular de la Base de Datos recolecta a través de NIVO+ y que eventualmente utiliza, trata, almacena o transfiere. Esta Política de Privacidad no se aplica a las prácticas de terceras partes fuera del control del Titular de la Base de Datos, incluyendo pero sin limitarse a páginas web, aplicaciones, o en general software o servicios en línea de terceros que el Titular de la Base de Datos no controla o emplea, desde los cuales pueda ser derivado o bien, a los que el Usuario pueda acceder a través de NIVO+.</p>
    
    <p>Si bien el Titular de la Base de Datos intenta que terceras partes respeten la privacidad de los Usuarios, el Titular de la Base de Datos no se hace responsable de sus prácticas. Por favor, asegúrese de leer y aceptar las políticas de privacidad y las prácticas de cualquier tercera parte a la que acceda utilizando NIVO+.</p>
    
    <p><strong>El Usuario no se encuentra obligado por norma alguna a brindar sus datos personales y no se deriva ninguna consecuencia legal en el caso que decida no proporcionarlos.</strong></p>
    
    <p>El Usuario tendrá la posibilidad de brindar datos personales de terceros a través de NIVO+. El Usuario entiende y acepta que dichos datos personales serán recolectados para la prestación de los servicios relativos a NIVO+. Todos los datos personales de terceros que el Usuario brinde serán tratados bajo esta Política de Privacidad en cuanto a la relación entre el Usuario y el Titular de la Base de Datos.</p>
    
    <p>Esta Política de Privacidad se rige por las disposiciones de la <strong>ley 25.326, de Protección de Datos Personales, de la República Argentina</strong>.</p>

    <h3>CONSENTIMIENTO PARA EL USO DE LOS DATOS</h3>
    <p>Al aceptar esta Política de Privacidad el Usuario presta su <strong>consentimiento expreso, libre, informado y sin limitaciones</strong>, garantizando también que ha obtenido igual consentimiento de los terceros titulares de los datos personales que el Usuario provea a NIVO+, para la recolección, tratamiento, uso, almacenamiento, divulgación, cesión o transferencia de los datos personales de acuerdo con esta Política de Privacidad y con lo establecido en la ley 25.326.</p>
    
    <p><strong>SI EL USUARIO NO ESTÁ DE ACUERDO CON ESTA POLÍTICA DE PRIVACIDAD, ENTONCES POR FAVOR NO PROVEA AL TITULAR DE LA BASE DE DATOS NINGÚN DATO PERSONAL A TRAVÉS DE NIVO+.</strong></p>
    
    <p>Por favor advierta que NIVO+ requiere de ciertos datos personales para poder operar y prestar algunos de los servicios ofrecidos a los Usuarios, por lo cual si el Usuario no provee esos datos, Anes Record Solutions podría no estar en condiciones de proveer algunos de los servicios ofrecidos en NIVO+.</p>

    <h3>CONFIDENCIALIDAD Y SEGURIDAD DE LOS DATOS</h3>
    <p>Con arreglo a lo dispuesto en los arts. 9 y 10 de la Ley 25.326 de Protección de los Datos Personales, el Titular de la Base de Datos se obliga a cumplir con la <strong>obligación de secreto</strong> respecto de los datos contenidos en su Base de Datos, salvo en aquellos casos en que la ley autoriza a revelar la información personal.</p>
    
    <p>El Titular de la Base de Datos ha adoptado los <strong>niveles de seguridad de protección de datos personales exigidos en la legislación vigente</strong>, implementando al efecto las medidas técnicas y organizativas necesarias para evitar la pérdida, mal uso, alteración, acceso no autorizado y demás riesgos posibles.</p>
    
    <p>Habiendo adoptado todas las medidas de seguridad exigidas por la legislación vigente, el Titular de la Base de Datos no se hace responsable por interceptaciones ilegales o violación de su Base de Datos por parte de personas no autorizadas. El Titular de la Base de Datos tampoco se hace responsable por la indebida utilización de la información obtenida por esos medios ilegítimos.</p>

    <h3>QUÉ INFORMACIÓN RECOLECTA NIVO+</h3>
    <p>El Titular de la Base de Datos recolecta datos personales y datos no personales a través de NIVO+ cuando el Usuario brinda dicha información voluntariamente a través de los canales disponibles en NIVO+.</p>
    
    <p>Los datos personales que el Titular de la Base de Datos recolecta a través de NIVO+ se limitan al <strong>número de documento, nombres, apellidos, asociaciones de anestesiología a las que pertenece el usuario, números de matrículas profesionales, correo electrónico</strong>. Eventualmente, el Titular de la Base de Datos podrá solicitar información adicional.</p>
    
    <p>NIVO+ le permitirá al Usuario brindar datos personales de terceros mediante los canales dispuestos al efecto. <strong>El Usuario entiende y acepta expresamente y sin limitación alguna que es único y exclusivo responsable del contenido y de haber obtenido el consentimiento informado del titular de los datos personales de terceros que ingrese a NIVO+, como así también será responsable de la precisión, calidad, integridad, fiabilidad, adecuación, veracidad, actualización y legalidad de estos datos personales de terceros</strong> que se organicen, gestionen, transmitan, difundan o recojan como resultado del uso de NIVO+. Anes Record Solutions no está obligada a comprobar la veracidad, exactitud o licitud de los datos suministrados por el Usuario.</p>
    
    <p>El Titular de la Base de Datos podrá hacer una revisión previa respecto a los datos personales ingresados por los Usuarios. Sin embargo, el Usuario es responsable de asegurar la autenticidad, corrección y actualidad de los datos brindados. Si los datos son incorrectos podría obstaculizar el acceso o uso de NIVO+ o los servicios brindados a través de los mismos, descritos en los Términos y Condiciones de Uso de los cuales es parte integrante la presente Política de Privacidad de Datos Personales. Para el caso que el Titular de la Base de Datos detecte que el Usuario ha ingresado datos falsos, incompletos o inexactos a NIVO+, podrá eliminarlos sin notificación previa al Usuario.</p>
    
    <p>No se recolectan -de forma voluntaria o a sabiendas- datos personales de Usuarios que no tengan capacidad legal para contratar conforme lo establecido en la legislación vigente. Para el caso que el Usuario provea datos personales de terceros que no cumplan con ésta limitación, el Usuario manifiesta de manera expresa contar con la autorización del representante legal para incorporar éstos datos a NIVO+.</p>
    
    <p>Para el caso de no respetarse lo establecido en los párrafos anteriores, el Titular de la Base de Datos procederá, dentro de lo posible, a eliminar los datos que incumplan con la Política de Privacidad, sin que ello genere ninguna responsabilidad ni derecho a reclamo alguno por parte del Usuario.</p>

    <h3>COMO Y CUANDO SE RECOLECTAN DATOS PERSONALES Y DATOS NO PERSONALES</h3>
    <p>El Titular de la Base de Datos recolecta datos electrónicamente y de forma automatizada en el momento en que el Usuario aporta su información personal o la de terceros que lo hayan autorizado, en NIVO+, a través de los canales disponibles, como así también cuando éste actualiza o modifica dicha información. En ciertas ocasiones el Titular de la Base de Datos puede recolectar datos electrónicamente de forma no automatizada al tomar contacto directo con el Usuario.</p>

    <h3>COMO USA Y ALMACENA ANES RECORD SOLUTIONS LOS DATOS PERSONALES QUE RECOLECTA</h3>
    <p>La información provista por el Usuario que pueda contener datos personales, obtenida durante el uso de NIVO+ es utilizada por el Titular de la Base de Datos para:</p>
    
    <ul>
        <li>Prestar los servicios accesibles a través de NIVO+ y llevar adelante el giro comercial de Anes Record Solutions;</li>
        <li>Utilizarlos en futuras comunicaciones con el Usuario;</li>
        <li>Enviar actualizaciones, novedades, acciones de marketing, anuncios o promociones sobre los contenidos, productos y/o servicios de NIVO+, o sobre Anes Record Solutions;</li>
        <li>Fines estadísticos y de investigación;</li>
        <li>Fines estadísticos, de investigación y de creación y mejora de procesos y servicios comerciales, incluyendo la mejora y personalización de NIVO+;</li>
        <li>Verificar la identidad de un Usuario de acuerdo con esta Política de Privacidad y los Términos y Condiciones de Uso de NIVO+;</li>
        <li>Efectuar la facturación correspondiente a la utilización por parte del Usuario de NIVO+;</li>
        <li>Compartirla con terceros y/o socios comerciales para los fines estipulados en los presentes.</li>
    </ul>
    
    <p>El Titular de la Base de Datos almacena los datos personales y no personales que recolecta a través de NIVO+ en un servicio de almacenamiento brindado por <strong>Amazon Web Services</strong>.</p>
    
    <p>Si la finalidad de la recolección de los datos fuera otra distinta a las aquí enunciadas, la misma se notificará en forma expresa al momento de requerirse el ingreso de sus datos.</p>

    <h3>A QUÉ FINES SE DIVULGA O TRANSFIERE DATOS PERSONALES Y NO PERSONALES</h3>
    <p>El Usuario presta consentimiento expreso, informado, manifiesta conocer plenamente y acepta sin restricción alguna que el Titular de la Base de Datos puede <strong>ceder y/o transferir datos personales recolectados a través de NIVO+ con terceras empresas</strong> con el fin que el Usuario pueda acceder y utilizar los Servicios brindados a través de NIVO+. El Usuario garantiza que ha obtenido de todos los titulares de los datos personales que ingrese a NIVO+ el consentimiento expreso e informado respecto a la posibilidad de que el Titular de la Base de datos ceda y/o transfiera sus datos personales ingresados a NIVO+.</p>
    
    <p>Anes Record Solutions también podrá divulgar o transferir datos personales con socios comerciales que presten servicios técnicos de procesamiento de datos, de mantenimiento, actualización, almacenamiento o seguridad de NIVO+ u otros servicios que sean necesarios para mantener NIVO+ activo y en funcionamiento. <strong>El Usuario acepta de manera expresa y sin limitación alguna que esta transferencia de datos personales puede ser internacional</strong>.</p>

    <h3>AUTORIDADES DE GOBIERNO</h3>
    <p>El Titular de la Base de Datos puede divulgar o transferir datos personales a las autoridades que lo requieran de acuerdo a la ley vigente que resulte aplicable.</p>
    
    <p>El Titular de la Base de Datos puede divulgar o transferir datos personales en caso que ello resulte apropiado para investigar, prevenir o adoptar medidas en relación con actividades presuntamente ilegales cometidas en NIVO+ o en relación con los contenidos y/o servicios.</p>

    <h3>OTROS TERCEROS O USUARIOS</h3>
    <p>En NIVO+ pueden aparecer vínculos a sitios operados por terceros. El Titular de la Base de Datos desconoce y no se responsabiliza por las prácticas de privacidad de estos terceros. Si el Usuario elige ingresar a dichos vínculos y por ende, a páginas de terceros, debe leer y aceptar las políticas de privacidad que indican cómo estos terceros recolectan, usan, divulgan, transfieren y eliminan los datos personales de sus Usuarios y visitantes.</p>

    <h3>ACCESO, ACTUALIZACIÓN Y ELIMINACIÓN DE DATOS PERSONALES</h3>
    <p>El Titular de la Base de Datos garantiza a sus Usuarios el <strong>acceso a sus datos personales almacenados por el Titular de la Base de Datos, así como el derecho a solicitar su actualización, corrección o eliminación</strong>, todo ello en virtud de lo dispuesto en los arts. 14 y 16 de la Ley 25.326 de Protección de los Datos Personales.</p>
    
    <p>Para acceder a sus datos personales o solicitar la actualización, corrección o eliminación el Usuario deberá comunicarse a <a class="btn__tertiary" href="mailto:nivo@cares.ar">nivo@cares.ar</a>, acreditar personería de manera fehaciente y completar formulario pre establecido al efecto.</p>
    
    <p>Tenga en cuenta que alguna información residual, que puede o no contener datos personales, puede mantenerse en la base de datos u otros registros que el Titular de la Base de Datos no puede eliminar por motivos legales o porque son necesarios para seguir prestando los servicios al Usuario.</p>
    
    <p>Será decisión del Usuario determinar si procede a eliminar sus datos personales en caso que ello imposibilite seguir prestando servicios al Usuario. Asimismo, el Usuario puede modificar en cualquier momento la información brindada al Titular de la Base de Datos a través de los canales disponibles en NIVO+.</p>

    <h3>TRANSFERENCIA INTERNACIONAL DE DATOS</h3>
    <p>Los datos personales están actualmente almacenados en servidores de <strong>Amazon Web Services, ubicados en Northern Virginia, estado de Virginia, Estados Unidos</strong>. Sin embargo, el Titular de la Base de Datos se encuentra domiciliado y opera desde la República Argentina, concretamente la Ciudad de Neuquén.</p>
    
    <p>Al proveer información personal a través de NIVO+, los residentes y ciudadanos argentinos, así como los residentes y ciudadanos de otros países que sean capaces de acceder a NIVO+, <strong>aceptan y consienten la transferencia y el procesamiento internacional de sus datos personales</strong>, en caso que alguno de estos servicios fuera considerado por la Ley 25.326 de Protección de Datos Personales de la República Argentina como transferencia internacional de datos.</p>

    <h3>MODIFICACIÓN DE LA POLÍTICA DE PRIVACIDAD</h3>
    <p>Por favor tome en consideración que el Titular de la Base de Datos revisa sus prácticas de privacidad y modifica su política de privacidad periódicamente, publicando los cambios por este mismo medio. <strong>Cualquier cambio o modificación será efectiva inmediatamente desde la publicación en NIVO+</strong>. La continuidad de uso de NIVO+ por parte del Usuario implicará el consentimiento expreso con las modificaciones efectuadas.</p>

    <h3>CONSENTIMIENTO</h3>
    <p>Habiendo sido debidamente informado por esta Política de Privacidad de:</p>
    <ul>
        <li>la finalidad para la que serán tratados y quiénes pueden ser sus destinatarios o clase de destinatarios;</li>
        <li>la existencia del archivo, registro, banco de datos, electrónico o de cualquier otro tipo, de que se trate y la identidad y domicilio de su responsable;</li>
        <li>el carácter obligatorio o facultativo de las respuestas al formulario y/o cuestionario que se le proponga;</li>
        <li>las consecuencias de proporcionar los datos, de la negativa a hacerlo o de la inexactitud de los mismos;</li>
        <li>la posibilidad del interesado de ejercer los derechos de acceso, rectificación, actualización y supresión de los datos;</li>
    </ul>
    
    <p>cuando accede a NIVO+ y provee voluntariamente sus datos personales, <strong>el Usuario está prestando su consentimiento expreso, y garantizando tener el consentimiento expreso de los terceros titulares de los datos que suministre a NIVO+</strong>, al Titular de la Base de Datos para la incorporación de los mismos la Base de Datos y para su tratamiento con las finalidades aquí declaradas.</p>

    <h3>REGISTRO NACIONAL DE BASES DE DATOS PERSONALES</h3>
    <p>A continuación se menciona la información relativa al Registro Nacional de Bases de Datos Personales:</p>
    
    <div>
        <p><i>"Si tenés dudas o necesitás orientación podés comunicarte al (54-11) 3988-3968 o a datospersonales@aaip.gob.ar</i></p>
        <p><i>Para más información ingresa a: <a class="btn__tertiary--link" href="https://www.argentina.gob.ar/aaip/datospersonales">https://www.argentina.gob.ar/aaip/datospersonales"</a></i></p>
    </div>
    </div>
</div>
