<div id="" class="container-grid">
    <div class="main__content">
        <div class="section__badge">La Solución</div>
        <h1 class="section__title" id="main-title">Evaluación Pre anestésica</h1>
        <p class="section__description" id="main-description">
            NIVO+ cubre todo el proceso anestésico, desde la evaluación inicial hasta el alta del paciente.
        </p>
        
        <div class="slider-container">
            <img class="image-slide active" src="./assets/img/nv_screen-01.jpg" alt="Evaluación Pre anestésica">
            <img class="image-slide" src="./assets/img/nv_screen-02.jpg" alt="Protocolo anestésico">
            <img class="image-slide" src="./assets/img/nv_screen-03.jpg" alt="Recuperación postanestésica">
            <!-- <img class="image-slide" src="./assets/img/nv_screen-04.jpeg" alt="Medicación e informes"> -->
        </div>

        <div id="zoom-modal" class="zoom-modal">
        <button size="md" class="fab__neutral--outline" id="zoomClose">&times;</button>
        <img class="zoom-image" src="" alt="Zoomed image">
        </div>

        <div class="fake-radio">
            <label class="radio-btn active" onclick="goToSlide(0)"></label>
            <label class="radio-btn" onclick="goToSlide(1)"></label>
            <label class="radio-btn" onclick="goToSlide(2)"></label>
            <!-- <label class="radio-btn" onclick="goToSlide(3)"></label> -->
        </div>
    </div>

    <!-- Sidebar -->
    <aside class="sidebar">
        <header class="sidebar__header">
            <h2 class="sidebar__title">Solución integral</h2>
        </header>
        <section class="sidebar__stepper">
            <div class="sidebar__step active" onclick="goToSlide(0)">
                <div class="step__bullet">1</div>
                <div class="step-content">
                    <div class="step__prefix">PASO 1</div>
                    <div class="step__title">Evaluación Pre anestésica</div>
                    <p class="step__description">Registro de antecedentes alérgicos, clínicos y quirúrgicos, examen físico, estudios complementarios y evaluación integral del riesgo anestésico.</p>
                </div>
            </div>
            
            <div class="sidebar__step" onclick="goToSlide(1)">
                <div class="step__bullet">2</div>
                <div class="step-content">
                    <div class="step__prefix">PASO 2</div>
                    <div class="step__title">Protocolo anestésico</div>
                    <p class="step__description">Documentación de condiciones de ingreso, monitoreo empleado, técnicas anestésicas e invasivas, ventilación, fármacos administrados y condiciones de egreso.</p>
                </div>
            </div>
            
            <div class="sidebar__step" onclick="goToSlide(2)">
                <div class="step__bullet">3</div>
                <div class="step-content">
                    <div class="step__prefix">PASO 3</div>
                    <div class="step__title">Recuperación postanestésica</div>
                    <p class="step__description">Registro de signos vitales en recuperación, evaluación del dolor, detección de complicaciones y verificación de condiciones necesarias para el egreso.</p>
                </div>
            </div>
        </section>
        <footer class="sidebar__footer">
            <a href="./assets/img/informe-modelo.pdf" target="_blank" class="btn__primary">
                Descargar informe modelo
            </a>
        </footer>
    </aside>
</div>