<!DOCTYPE html>
<html>

<head>
    <title>NIVO+ | Healthcare Anestesic System</title>
    {% include meta.html %}
</head>
<body>
  <span id="splashScreen" class="splash">
      <div class="logo-container">
          <img class="logo" src="./assets/img/nv_logo.svg"/>
          <img class="tagline" src="./assets/img/nv_logo-tag.svg"/>
      </div>
  </span>

  <section id="mainContent" class="landing">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      {% include header.html %}
    </div>
    <div id="inicio">
      {% include home.html %}
    </div>
    <div id="desafio">
      {% include details.html %}
    </div>
    <div id="portabilidad">
      {% include banner.html %}
    </div>
    <div id="solucion">
      {% include process.html %}
    </div>
    <div id="testimoniales">
      {% include quotes.html %}
    </div>
    <div id="contacto">
      {% include footer.html %}
    </div>
  </section>
</body>

</html>